
body#popup { min-width: 200px; padding:5px;}
body#popup input { min-width: 100%; }
body#popup #source { margin-top:0.8em; font-size: 0.6em;}
body#popup #options { margin-top:0.8em; font-size: 0.6em;}
body#popup label { display: block; }
body#popup #ajax { position: absolute; left:50%; top:5%;}
